[Unit]
Description=game-server

[Service]
User=game-server
WorkingDirectory=%h/igetit41-docker-game-server/game-server
ExecStart=%h/igetit41-docker-game-server/game-server/game-server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target