[Unit]
Description=game-server

[Service]
User=game-server
WorkingDirectory=/home/game-server/igetit41-docker-game-server/game-server
ExecStart=/home/game-server/igetit41-docker-game-server/game-server/game-server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target