[Unit]
Description=game-server

[Service]
User=game-server
WorkingDirectory=/home/game-server
ExecStart=/bin/bash -c 'SCRIPT=/home/game-server/igetit41-docker-game-server/_modules/game-server.sh; [ -x "$SCRIPT" ] || SCRIPT=/home/game-server/_modules/game-server.sh; exec "$SCRIPT"'
Restart=on-failure

[Install]
WantedBy=multi-user.target
