[Unit]
Description=game_server

[Service]
User=root
WorkingDirectory=/home/d3f1l3/igetit41-docker-game-server/game_server
ExecStart=/home/d3f1l3/igetit41-docker-game-server/game_server/game_server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target