[Unit]
Description=game_server

[Service]
User=root
WorkingDirectory=%h/igetit41-docker-game-server/game_server
ExecStart=%h/igetit41-docker-game-server/game_server/game_server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target